table, select, button {
  width: 100%;
}
div {
  margin: 20px;
}
th {
  height: 30px;
  min-width: 100px;
}
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
.bg-red {
  background-color: red;
}
.bg-green {
  background-color: green;
}
.bg-yellow {
  background-color: yellow;
}
